body{
    margin: 0;
    padding: 0;
    background-color: black;
    color: aliceblue;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
.cabecalho{
    background-color: rgb(18, 19, 19);
    height: 40px;
    position: -webkit-sticky; /* Necessário para funcionar no Safari */
    position: sticky;
    top: 0;
    clear: both;
}
.foto{
    background-color: rgb(18, 19, 19);
    padding: 20px 0;
    width: 300px;
    float: left;
    margin: 10px 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
}
.foto img{
    border-radius: 20px;
}
.galeria{
    width: 77%;
    margin-left: auto;
    margin-right: auto; 
}
h1{
    font-size: 4em;
    text-shadow: 4px 4px 4px rgb(41, 39, 39);
    clear: both;
    text-align: center;
}
h6{
    margin-top: 0;
    clear: both;
    text-align: center;
    padding: 15px 0 0 0;
}